.card
{
    height: 650px;
    
}
.card:hover
{
    background-color:rgba(0,0,0,0.2);
    transform: scale(1.02);
    box-shadow: rgba(0,0,0,0.4);
    transition: all 0.4s ease-in-out;
}
.card-img-top {
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.05);
}
.card button
{
    margin: 10px;
}
.card button:hover
{
    background-color: blueviolet;
    color: aliceblue;
    transition: all 0.4s ease-in-out;
}