.login-page {
  height: 100vh;
  background-color: #1e1e2f;
  color: #fff;
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: #2a2a3d;
  border: none;
  border-radius: 10px;
  color: aliceblue;
}

.signup-modal {
  width: 600px;
  background-color: #2a2a3d;
  color: white;
  border-radius: 8px;
}

.modal.fade.show {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.form-control {
  background-color: #fff;
  color: #000;
}
