<h2 class="notif-title"><span class="material-icons">
add_alert
</span> Notifications</h2>

@if (notifyService.messages.length !== 0) {
  <div class="notification-container">

    <div class="notif-category-map">
      <span class="badge product">Product Added</span>
      <span class="badge restock">Restock</span>
      <span class="badge request">Category Request</span>
      <span class="badge category">Category Added</span>
    </div>

    <div class="notif-list">
      <div
        class="notif-item"
        *ngFor="let msg of notifyService.messages; let i = index"
        [ngClass]="getNotificationClass(msg)">
        <div class="notif-index">#{{ i + 1 }}</div>
        <div class="notif-content">{{ msg }}</div>
      </div>
    </div>

  </div>
} @else {
  <h3 class="empty-state">🚫 No new notifications</h3>
}
