
<div class="container">
    <div class="chart-row">
  <!-- Pie Chart -->
  <div class="chart-wrapper chart-half">
    <h3 class="title">
      <span class="material-icons">shopping_basket</span>
      Products per Category
    </h3>
    @if (categoryChartData.labels?.length) {
      <canvas baseChart
        [data]="categoryChartData"
        [type]="categoryChartType"
        [options]="{ responsive: true, plugins: { legend: { position: 'bottom' } } }">
      </canvas>
    } @else {
      <p>Loading category chart...</p>
    }
  </div>

  <!-- Top 10 Sold Products -->
  <div class="chart-wrapper chart-half">
    <h3 class="title">
      <span class="material-icons">bar_chart</span>
      Top 5 Products Sold - out
    </h3>
    @if (topProductsChartData.labels?.length) {
      <canvas baseChart
        [type]="'bar'"
        [data]="topProductsChartData"
        [options]="{
          responsive: true,
          scales: {
            x: { title: { display: true, text: 'Product Name' } },
            y: { title: { display: true, text: 'Stock Out Count' }, beginAtZero: true }
          }
        }">
      </canvas>
    } @else {
      <p>Loading sales chart...</p>
    }
  </div>
</div>

    <form (ngSubmit)="setselectedproduct()">
    <h4 style="color: #ffc107; font-weight: 600;">Product specific insights</h4>
    <select name="prod" [(ngModel)]="selectedproduct">
        <option value="">Select</option>
        @for (item of allproducts; track item.name) {
        <option [value]="item.name">{{ item.name }}</option>
        }
    </select>
    <button type="submit">Generate</button>
    <button type="button" class="pdf-button" (click)="downloadPDF()" [disabled]="!report">Download PDF</button>
    </form>

<div id="pdfSection">
  <!-- <div class="report-wrapper hidden-report" *ngIf="report" [class.show]="false">
    <h3 class="report-title">📋 Product Report</h3>
    <div class="typewriter-box">
      <p class="typewriter">
        Product: {{ report.prodDetails?.name }} ({{ report.prodDetails?.id }})<br>
        Description: {{ report.prodDetails?.description }}<br>
        Price: ₹{{ report.prodDetails?.price }}<br>
        Category ID: {{ report.prodDetails?.categoryId }}<br>
        Current Stock: {{ report.currentInv?.stock }}<br>
        Minimum Threshold: {{ report.currentInv?.minThreshold }}<br>
        Created By: {{ report.prodDetails?.addedBy }}<br>
        Created At: {{ report.prodDetails?.addedAt | date:'medium' }}
      </p>
    </div> -->
  </div>

  <div class="chart-wrapper">
    <h3 class="title"><span class="material-icons">auto_graph</span> Stock Trend {{ selectedproduct }}</h3>

    @if (selectedproduct && barChartData.labels?.length) {
      <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType">
      </canvas>
    } @else {
      <div class="noproduct">
          <p>Please select a product.</p>
      </div>
    }
  </div>
</div>
