<!-- <app-menu></app-menu> -->


<div class="add-product-page">
  <!-- Left Side: The Form -->
  <div class="form-container">
    <form class="form" [formGroup]="productForm" (ngSubmit)="addProduct()">
  <h1>Add product</h1>

  <!-- Name -->
  <input type="text" placeholder="Name" name="name" (input)="filterProducts()" [(ngModel)]="addproduct.name" formControlName="name" />
  <span class="error" *ngIf="name.touched && name.errors">
    <ng-container *ngIf="name.errors['required']">Name is required.</ng-container>
  </span>

  <!-- Description -->
  <input type="text" placeholder="Description" name="desc" [(ngModel)]="addproduct.description" formControlName="description" />
  <span class="error" *ngIf="description.touched && description.errors">
    <ng-container *ngIf="description.errors['required']">Description is required.</ng-container>
  </span>

  <!-- Price -->
  <input type="number" placeholder="Price" name="price" [(ngModel)]="addproduct.price" formControlName="price" />
  <span class="error" *ngIf="price.touched && price.errors">
  <ng-container *ngIf="price.errors['emptyError']">Price is required.</ng-container>
  <ng-container *ngIf="price.errors['numberError']">Value must be a number.</ng-container>
  <ng-container *ngIf="price.errors['negativeError']">Number must not be negative.</ng-container>
</span>

  <!-- Category -->
  <select name="categories" [(ngModel)]="addproduct.categoryName" formControlName="categoryName">
    <option value="">Select a category</option>
    @for(c of categories; track c.Id) {
      <option [value]="c.categoryName">{{ c.categoryName }}</option>
    }
  </select>
  <span class="error" *ngIf="categoryName.touched && categoryName.errors">
    <ng-container *ngIf="categoryName.errors['required']">Category is required.</ng-container>
  </span>

  <!-- Stock -->
  <input type="number" placeholder="Stock" name="stock" [(ngModel)]="addproduct.stock" formControlName="stock" />
  <span class="error" *ngIf="stock.touched && stock.errors">
  <ng-container *ngIf="stock.errors['emptyError']">Stock is required.</ng-container>
  <ng-container *ngIf="stock.errors['numberError']">Value must be a number.</ng-container>
  <ng-container *ngIf="stock.errors['negativeError']">Number must not be negative.</ng-container>
</span>


  <!-- Min Threshold -->
  <input type="number" placeholder="Min Threshold" name="minThreshold" [(ngModel)]="addproduct.minThreshold" formControlName="minThreshold" />
  <span class="error" *ngIf="minThreshold.touched && minThreshold.errors">
  <ng-container *ngIf="minThreshold.errors['emptyError']">Min Threshold is required.</ng-container>
  <ng-container *ngIf="minThreshold.errors['numberError']">Value must be a number.</ng-container>
  <ng-container *ngIf="minThreshold.errors['negativeError']">Number must not be negative.</ng-container>
</span>


  <button class="btn btn-success" [disabled]="productForm.invalid">Add Product</button>
</form>

  </div>

  <!-- Right Side: Products List -->
  <div class="results-container">
    @if(filteredproducts!=null) {
      <div class="product-cards">
        <div
          class="product-card"
          *ngFor="let product of filteredproducts; trackBy: products.name"
          [ngClass]="{'low-stock': product.stock < product.minThreshold}"
        >
          <h3>{{product.name}}</h3>
          <p class="description">{{product.description}}</p>
          <p><strong>category: </strong>{{product.category}}</p>
          
          <p><strong>Added By:</strong> {{product.addedBy}}</p>
          <p><strong>Status:</strong> {{product.status}}</p>
        </div>
      </div>
    }
    @else {
     <h1>No matching Products</h1>
    }
  </div>
  
</div>
