<app-add-user></app-add-user>
<div class="filter-bar">
  <input type="text" class="form-control search-input" placeholder="Search with Name..." [(ngModel)]="searchName" (input)="handleSearch()" />
  <!-- <input type="text" class="form-control" placeholder="Search with role..." [(ngModel)]="searchRole" (input)="filterUsers()" />
  <input type="text" class="form-control" placeholder="Search with state..." [(ngModel)]="searchState" (input)="filterUsers()" /> -->
</div>

<div *ngIf="error$ | async as errorMsg">
  <p style="color: red;">Error: {{ errorMsg }}</p>
</div>

<div *ngIf="!(loading$ | async)" class="user-grid">
@if(filteredUsers.length!=0)
{
    @for (user of filteredUsers; track user.username) {
         <div  class="user-card">
            <h3>{{ user.username }}</h3>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Role:</strong> {{ user.role }}</p>
        </div>
    }
}
@else {
    <h1>No users!</h1>
}
 
</div>
